<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Contatti</h2>
			<p><a href="mailto://gessica79vr@libero.it" class="icon fa-envelope" style="color:#F8E634" target="_blank"> Gessica Marinig  (Presidente)</a></p>
			<p><a href="mailto://blede1971@libero.it" class="icon fa-envelope" style="color:#F8E634" target="_blank"> Ilaria Ballatore (Segretario)</a></p>
			<p><a href="mailto://marinellabonutti@gmail.com" class="icon fa-envelope" style="color:#F8E634" target="_blank"> Marinella Bonutti (Direttore)</a></p>
		</header>
		<ul class="actions vertical">
			<li><p><img src="assets/images/logopiccoleluci.png" alt="Logo Piccole Luci" height="200" width="200"></p></li>
			<!-- <li><a href="#" class="button fit">Per saperne di pi&#249</a></li> -->
			<!-- <li><a href="#" class="button fit special">Activate</a></li> -->
		</ul>
	</div>
</section>
