<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>CTA</h2>
			<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
		</header>
		<ul class="actions vertical">
			<li><img src="assets/images/logopiccoleluci.png" alt="Logo Piccole Luci" height="200" width="200"></li>
			<li><a href="#" class="button fit">Per saperne di pi&#249</a></li>
			<!-- <li><a href="#" class="button fit special">Activate</a></li> -->
		</ul>
	</div>
</section>
