<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>DOCUMENTAZIONE UFFICIALE</h2>
			<p>Di seguito tutta la documentazione ufficiale dell'Associazione disponibile per lo scaricamento.</p>
		</header>
		<ul class="features">
			<li class="icon fa-info-circle"><a href="{{site.baseurl}}/assets/documents/statuto_piccoleluci.pdf" target="_blank">
				<h3>Statuto</h3>
				<p>Scarica lo Statuto dell'Associazione Coro Piccole Luci in formato pdf.</p>
			</a></li>
			<li class="icon fa-university"><a href="{{site.baseurl}}/assets/documents/costituzione_associazione.pdf" target="_blank">
				<h3>Costituzione Associazione</h3>
				<p>Scarica il documento ufficiale registrato del coro in formato pdf.</p>
			</a></li>
			<!-- <li class="icon fa-clipboard"><a href="{{site.baseurl}}/assets/documents/modulo_iscrizione.pdf" target="_blank">
				<h3>Modulo d'iscrizione</h3>
				<p>Scarica il modulo d'iscrizione del coro in formato pdf.</p>
			</a></li>
			<li></li> -->
		</ul>
	</div>
</section>
